@font-face {
    font-family: 'Exo';
    src: url(./Exo-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(135deg,#8E24AA,#FFB300);
    height: 100vh;
}
h1{
    text-align: center;
    color: transparent;
    background-image: linear-gradient(to left, purple,yellow,red);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-backgroumd-size: 500%;
    background-size: 500%;
    font-size: 48px;
    font-family: Exo;
    font-weight: bolder;
    letter-spacing: 1px;
}

@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}